@font-face {
    font-family: 'Montserrat';
    src: url('/font_logo.ttf') format('truetype');
}
header{
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 212);
}
.logo{
  color: white;
  font-family: Montserrat;
}
a{
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-weight: 600;

}
.hdr_link{
  color: white;
  transition: 0.3s;
}
.hdr_link:hover{
  color: slateblue;
}